<h1>Update Employee</h1>

<% if @employee.errors.any? %>
    <h2>The following errors prevented the article from being saved </h2>
    
    <ul>
    <% @employee.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
    <% end %>
    </ul>
<% end %>


<%= form_with(model:@employee, local: true) do |f| %>

<p>
    <%= f.label :name%>
    <br>
    <%= f.text_field :name%>
</p>

<p>
    <%= f.label :city%>
    <br>
    <%= f.text_field :city%>
</p>

<p>
    <%= f.label :tech%>
    <br>
    <%= f.text_field :tech%>
</p>

<p>
    <%= f.submit%>
</p>


<% end %>

<%= link_to 'Cancel and Return to employee listing', employees_path%>